.grupoBotoes {
  display: flex;
  gap: 10px;
  margin: auto;

  .botaoFormulario {
    position: absolute;
    left: 0;

    @media (max-width: 900px) {
      left: unset;
    }

    span {
      margin-left: 0 !important;
    }
  }

  .completePercent {
    position: absolute;
    right: -30px;
    color: white;
  }
}
