.modal {
  display: grid;
  place-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: auto;
  min-height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 9999;

  div {
    display: grid;
    gap: 30px;
    width: 250px;
    padding: 40px 15px 20px 15px;
    border-radius: 5px;
    background-color: #d32f2f;

    p {
      color: white;
    }
  }
}

.Lista {
  display: grid;
  gap: 20px;
  max-width: 630px;
  margin: auto;
  margin-top: 40px;

  // & > div {
  //   min-width: 150px;
  // }

  .pesquisa {
    width: 100%;
    margin: auto;

    .searchBar {
      width: 100%;

      @media (max-width: 900px) {
        width: 80%;
      }
    }
  }

  .filtros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .selectFilter {
      width: 130px;
    }
  }
}

.grupoCards {
  display: grid;
  width: 80%;
  padding: 80px 0px;
  grid-template-columns: repeat(5, 1fr);
  gap: 28px;
  position: relative;
  margin: auto;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  & > div {
    overflow: visible;
    background-color: transparent;
  }

  .livrosAdd {
    display: grid;
    place-content: center;
    background-color: #343944;
    min-height: 200px;
    overflow: visible;
  }
}
