.perfilInfos {
  width: 300px;
  margin: auto;
  margin-top: 80px;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: #343944;
  border: solid 1px #63676f;
  color: white;
  display: grid;
  gap: 20px;
  text-align: initial;
  position: relative;

  .returnFlutuante {
    position: absolute;
    top: -10px;
    left: -10px;
  }

  .deleteFlutuante {
    position: absolute;
    top: -10px;
    right: -10px;
  }

  .saveFlutuante {
    position: absolute;
    bottom: -10px;
    right: -10px;
  }
}
