.cardsGroup {
  display: grid;
  width: 80%;
  padding: 80px 0px;
  grid-template-columns: repeat(5, 1fr);
  gap: 28px;
  position: relative;
  margin: auto;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    padding: 20px 0px 0px 0px;
    width: 100%;
  }

  & > div {
    overflow: visible;
    background-color: transparent;
  }

  .addBook {
    display: grid;
    place-content: center;
    background-color: #343944;
    min-height: 357px;
    overflow: visible;

    @media (max-width: 800px) {
      min-height: 300px;
    }
  }
}
