.card {
  overflow: visible;
  position: relative;

  &:hover .capa {
    filter: brightness(0.5);
  }

  &:hover .cardInfo {
    opacity: 1;
    display: grid;
    align-items: center;
  }

  .capa {
    max-width: 100%;
    height: 100%;
    color: white;
    border-radius: 5px;
  }

  .cardInfo {
    opacity: 0;
    padding: 0px !important;
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100%;

    .cardGenero {
      display: flex;
      margin: auto;
      gap: 5px;

      .genero {
        font-size: 16px;
        font-weight: 300;
      }
    }

    .cardText {
      display: grid;
      gap: 10px;
      // padding: 50px 0px;

      .titulo {
        font-size: 22px;
        font-weight: 300;
        min-height: 30px;
      }

      .subtitulo {
        margin-top: 2px;
        font-size: 14px;
        font-weight: 300;
        min-height: 30px;
      }
    }

    .cardButton {
      bottom: 0;
      padding: 0;
      width: 100%;
      position: absolute;
    }

    .botaoFormulario {
      position: absolute;
      top: -10px;
      right: -10px;
    }
  }
}
