.paginasGrid {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: 145px;
  margin: auto;
  position: relative;
  align-items: baseline;

  .inputPage {
    font-size: 18px;
    color: white;
    background-color: #343944;
    width: 65px;

    & > div {
      height: 32px;
      width: 65px;

      input {
        color: white;
        text-align: center;
      }
    }
  }

  .totalPages {
    font-size: 18px;
    color: white;
  }

  .botaoAtl {
    // position: absolute;
    // right: -10px;
    // bottom: -10px;
    align-self: center;

    span {
      margin-left: 0 !important;
    }
  }
}
