.modal {
  display: grid;
  place-content: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: auto;
  min-height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 9999;

  .complete {
    background-color: #080808;
  }

  & > div {
    display: grid;
    gap: 30px;
    width: 250px;
    padding: 40px 15px 20px 15px;
    border-radius: 5px;
    background-color: #d32f2f;

    p {
      color: white;
    }

    span {
      margin: auto;
      width: fit-content;
    }
  }
}

.cardInfo {
  padding: 80px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 700px;
  margin: auto;
  place-content: center;

  @media (max-width: 900px) {
    grid-template-columns: unset;
    padding: 50px 20px;
  }

  .coverLivro {
    position: relative;

    img {
      height: 100%;
      min-height: 342px;
      max-height: 520px;
      min-width: 100%;
      border-bottom-left-radius: 10px;
    }

    .returnFlutuante {
      position: absolute;
      top: -10px;
      left: -10px;
    }
  }

  .infosLivro {
    background-color: #343944;
    display: grid;
    padding: 20px 0px;
    align-items: center;
    position: relative;
    border-bottom-right-radius: 10px;

    @media (max-width: 900px) {
      padding: 50px 0px;
      gap: 40px;
    }

    .fabGroup {
      position: absolute;
      top: -10px;
      right: -10px;
      display: grid;
      gap: 20px;
    }

    .tituloLivro {
      font-size: 32px;
    }

    .subtituloLivro {
      font-size: 22px;
      margin-top: 5px;
    }

    .generosLivro {
      font-size: 18px;
      display: flex;
      margin: auto;
      gap: 5px;
    }

    .sinopseLivro {
      font-size: 15px;
      text-align: justify;
      padding: 0px 25px;
      max-height: 200px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #3d3d3d;
      }

      &::-webkit-scrollbar-thumb {
        background: #c4c4c4;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #8b8b8b;
      }
    }

    .ratingLivro {
      // position: absolute;
      // left: 0;
      // right: 0;
      top: 20px;
      margin: auto;
      width: fit-content;
    }
  }
}
