.cardInfo {
  padding: 80px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 700px;
  height: 300px;
  place-content: center;

  .coverLivro {
    position: relative;

    img {
      max-width: 100%;
      height: auto;
    }

    .returnFlutuante {
      position: absolute;
      top: -10px;
      left: -10px;
    }

    .ratingLivro {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
    }
  }

  .infosLivro {
    background-color: #343944;
    display: grid;
    padding: 20px 0px;
    align-items: center;
    position: relative;

    .editFlutuante {
      position: absolute;
      top: -10px;
      right: -10px;
    }

    .tituloLivro {
      font-size: 32px;
    }

    .subtituloLivro {
      font-size: 22px;
      margin-top: 5px;
    }

    .generosLivro {
      font-size: 18px;
      display: flex;
      margin: auto;
      gap: 5px;
    }

    .sinopseLivro {
      font-size: 16px;
      text-align: justify;
      padding: 0px 25px;
      max-height: 200px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }
    }

    .paginasGrid {
      display: grid;
      grid-auto-flow: column;
      gap: 10px;
      width: 145px;
      margin: auto;
      position: relative;
      align-items: baseline;

      .inputPage {
        font-size: 18px;
        color: white;
        background-color: #343944;
        width: 65px;

        & > div {
          height: 32px;
          width: 65px;

          input {
            color: white;
            text-align: center;
          }
        }
      }

      .totalPages {
        font-size: 18px;
        color: white;
      }

      .botaoAtl {
        // position: absolute;
        // right: -10px;
        // bottom: -10px;

        span {
          margin-left: 0 !important;
        }
      }
    }

    .grupoBotoes {
      display: flex;
      gap: 10px;
      margin: auto;

      .botaoFormulario {
        width: 80px;

        span {
          margin-left: 0 !important;
        }
      }
    }
  }
}
