.headerBar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px 0px;
  background-color: #343944;
  width: 100%;
  justify-content: center;

  .headerProfile {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
}
